.image {
  margin: 5px;
  max-width: 125px;
  border-radius: 100%;
  background-color: white;
  border: 2px solid #6753d8;
  box-shadow: 4px 4px 8px rgb(54, 40, 136);
}

.ingredientsContainer {
  display: flex;
  flex-direction: column;
  max-height: 65vh;
  overflow: auto;
}

.oneIngredient {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.counter {
  display: grid;
  max-height: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 5px;
  gap: 5px;
  justify-items: center;
  button {
    width: 50px;
    height: 50px;
    background-color: #f8f7ff;
    border: 3px solid rgb(54, 40, 136);
    box-shadow: 4px 4px 8px #362888;
    border-radius: 100%;
    font-weight: 600;
    font-size: 36px;
    cursor: pointer;
  }
  h3 {
    font-weight: 600;
    font-size: 26px;
    color: #120d33;
    cursor: default;
  }
}

.info {
  h1 {
    font-size: 24px;
    font-weight: 500;
    color: #f8f7ff;
  }
  h2,
  h3 {
    font-weight: 400;
  }
}
